@import url("../public/css/bootstrap.css");
@import url("../public/css/font-awesome.min.css");
@import url("../public/css/style.css");
@import url("../public/css/responsive.css");
@import url("../public/css/__profile.scss");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.profile-mt-1 {
  margin-top: 2rem;
  padding: 4px 0;
}

.edit-info {
  background: rgb(78, 218, 164);
  width: 100%;
  color: whitesmoke;
}
.edit-info:hover {
  color: white;
}
.save-change {
  background: rgb(78, 218, 164);
  width: 100%;
  color: whitesmoke;
}
.save-change:hover {
  color: white;
}
.logout-btn {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s ease-in;
}

.list-sub-link {
  color: white;
  transition: 0.3s ease-in;
}
.list-sub-link:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(167, 235, 203, 0.582);
}

.logout-btn:hover {
  color: white;
  background-color: rgba(207, 248, 231, 0.979);
  cursor: pointer;
}

/* soclial icon */
.book-app {
  border: 0;
  outline: none;
  padding: 8px 0;
  background: rgb(78, 218, 164);
  color: whitesmoke;
  width: 30%;
  margin-top: 2rem;
}

.whatsapp {
  position: relative;
}

.whatsapp-right {
  position: absolute;
  right: 1rem;
}

.search-input {
  border: 4px solid whitesmoke;
  outline: none;
  text-align: center;
  width: 50%;
  border-radius: 3rem;
}

/* patient payment history */
.table th {
  font-weight: 500;
  color: #827fc0;
}
.table thead {
  background-color: #f3f2f7;
}
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > td {
  padding: 14px 12px;
  vertical-align: middle;
}
.table tr td {
  color: #8887a9;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.badge-soft-warning {
  background-color: rgba(248, 201, 85, 0.2);
  color: #f8c955;
}

.badge {
  font-weight: 500;
}
.badge-soft-primary {
  background-color: rgba(96, 93, 175, 0.2);
  color: #605daf;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

/* Admin css style  */
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

/* .modal__profile {
  position: fixed;
  top: 0;
  left: 0;
  background: #e1eff7cb;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: grid;
  place-items: center;
}

.modal-profile-hide {
  display: none;
} */
